{% extends 'base.html' %}

{% block title %}{{ super() }} - show {% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12 col-md-8">
        <br>
        <ul>
            <li>id: {{ calibration.id }} </li>
            <li>description: {{ calibration.description}} </li>
            <li>operator: {{ calibration.user_id}} </li>
        </ul>
        <h3>You can download all WinQxas models for micromatter IAG sample <a href="#">here </a></h3>

        <form method="POST" enctype="multipart/form-data">

            {{ form.csrf_token }}

            <div class="well">
                <label> Micromatter ID</label>
                {{ form.micromatter_id }}
            </div>

            <div class="well">
                <label> csv file from EDX</label>
                {{ form.csv_file }} 
            </div>
            
            <div class="well">
                <label> txt file from WinQxas</label>
                {{ form.txt_file }}
            </div>

            <button type="submit" class="btn btn-primary"> Send </button>

        </form>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Micromatter ID</th>
                    <th>Line</th>
                    <th>Z: R +- error</th>
                </td>
            </thead>
            <tbody>
                {% for i in uploads %} 
                    <tr>
                        {% set Z1 = info[i.micromatter_id][3] | int %}
                        {% set line = 'line' %}
                        {% if info[i.micromatter_id][5] == '' %}
                            <td>{{ i.micromatter_id }} </td>
                            <td>{{ ResponseFactors[i.micromatter_id][Z1][line] }} </td>
                            <td>{{ Z1 }} : {{ ResponseFactors[i.micromatter_id][Z1] }}</td>
                        {% else %}
                            {% set Z2 = info[i.micromatter_id][5] | int %}
                            <td>{{ i.micromatter_id }} </td>
                            <td>

                            </td>
                            <td>
                                {{ Z1 }} : {{ ResponseFactors[i.micromatter_id][Z1] }} <br>
                                {{ Z2 }} : {{ ResponseFactors[i.micromatter_id][Z2] }}
                            </td>
                        {% endif %}           
                    </tr>
                {% endfor %}
            </tbody>
    </div>
</div>
{% endblock %}
